services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8082:10080"
    environment:
      - APP_HTTP_ADDR=0.0.0.0:10080
      - APP_DB_HOST=postgres
      - APP_DB_PORT=5432
      - APP_DB_USER=postgres
      - APP_DB_PASSWORD=postgres
      - APP_DB_NAME=postgres
      - APP_DB_SCHEMA=public
      - APP_DB_SSLMODE=disable
      - APP_REDIS_ADDR=redis:6379
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  postgres:
    image: postgres:16.8-alpine
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
    ports:
      - "8432:5432"
    volumes:
      - ./test/migrations:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7.2-alpine
    hostname: redis
    command: ["redis-server", "--save", "", "--appendonly", "no"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
    restart: always
    ports:
      - "8379:6379"

  prometheus:
    image: prom/prometheus:v2.45.3
    profiles: ["observability"]
    ports:
      - "9090:9090"
    volumes:
      - ./assets/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana:10.3.1
    profiles: ["observability"]
    ports:
      - 3000:3000
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=secret
    volumes:
      - ./assets/grafana/provisioning:/etc/grafana/provisioning
      - ./assets/grafana/dashboards:/var/lib/grafana/dashboards
