name: Go CI

on:
  push:
    branches: [ "master", "main" ]
    tags:
      - 'v*'
  pull_request:
    branches: [ "master", "main" ]

jobs:
  lint:
    name: Lint (golangci-lint v2)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Install golangci-lint v2
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh \
            | sh -s -- -b /usr/local/bin v2.0.1

      - name: Check golangci-lint version
        run: golangci-lint version

      - name: Verify config
        run: golangci-lint config verify

      - name: Run golangci-lint
        run: golangci-lint run

  unit-test:
    name: Unit tests
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Run unit tests with coverage
        run: make unit-test

  integration-test:
    name: Integration tests
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      # ⚠️ Docker нужен для docker-compose
      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Run integration tests
        run: make test-integration

  security:
    name: Security Scan
    runs-on: ubuntu-latest
    needs: unit-test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Install gosec
        run: go install github.com/securego/gosec/v2/cmd/gosec@latest

      - name: Run gosec
        run: gosec ./...

      - name: Run govulncheck
        run: |
          go install golang.org/x/vuln/cmd/govulncheck@latest
          govulncheck ./...

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: security

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Build application
        run: make build
